body{
    font-family:'Montserrat Alternates', sans-serif;
}

#title{
    background-color: #E0144C;
    color: #fff;
}
h1{ 
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.2rem;
    line-height: 2;

}
h2{
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}
h3{
    font-family:'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15%;
}
/* Navbar section */
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1rem;
    font-weight: lighter;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

/* button */
.download-button{
    margin: 5% 3% 5% 0;
}
.imgd{
    width: 80%;
    margin-top: 20%;
    margin-left:20% ;
    margin-bottom: 20%;
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.fa-solid {
    color: #E0144C;
    padding-bottom: 7%;
    
}
.fa-solid:hover {
    color: pink;
  }
#testimonials{
    
    text-align: center;
    background-color: #E0144C;
    color: #fff;
    
}
.tes-img{
    width: 10%;
    border-radius: 100%;
    margin: 5%;
}
#press{
    background-color: #E0144C;
    text-align: center;
    padding-bottom: 3%;
}
.p-img{
    width:15%;
    margin: 5px 20px 20px;
}


.carousel-item{
    padding: 7% 15%;
}
#pricing{
    text-align: center;
}
.btn1{
   background-color: #E0144C;
}
#pricing{
    padding: 150px;
    text-align: center;
}
.colmn{
    padding: 3% 2%;
}
@media(max-width:1028px){
    #title{
        text-align:center;
    }
}
#cta{
    background-color: #E0144C;
    text-align: center;
    padding: 7% 10%;
    

}
.font{
    font-size: 3rem;
    color: #fff;
    font-weight: lighter;
}
.ud{
    margin: 5% 3% 5% 0;
    
    

}
.hey{ 
    margin: 20px 10px;
}
.day{
    margin-right: 10px;
}
#footer{
    text-align:center;
    padding: 2% 2%;


}